/** 
** ===============  google fonts =============== 
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/** 
*? ===============  Variables =============== 
*/
:root{
    --primary_color:#fe803b;
    --secondary_color:#23282d;
    --gray:#abb8c3;
    --pink:#f84270;
    --white:#fff;
}

/** 


** 
** =============== reset =============== 
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/** 
* ? ===============  header =============== 
*/
.header_wrapper{
    background-image: linear-gradient(20deg, var(--primary_color) 0%, var(--pink) 100%);
}

.header_wrapper .navbar-brand{
    color:var(--white);
    font-size: 1.75rem;
}
.header_wrapper li{
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.header_wrapper li:hover{
    background-color: var(--primary_color);
}
.home_nav_item{
    background-color: var(--primary_color);
}

/*----- category -----*/
.hover_text:hover{
    color: var(--primary_color);
}



/** 
* ? ===============  Main body area start =============== 
* ?======================================================
*/

/* ------ post counter area----- */
.post_count_area p{
    background-color: var(--primary_color);
    color:#fff;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
    padding: 10px 20px;
    font-size: 1.125rem;
    display:inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.post_count_area p:hover{
    background-color: var(--primary_color);
    border: none;
    color: var(--white);
}
.post_count{
    background-color: var(--white);
    color: var(--pink);
}

/* ----- news area ----- */
 .author_img img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 3px solid var(--primary_color);
}
.news_box{
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    cursor: pointer;
}
.news_box:hover{
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
}
.news_box:hover .post_title{
    color: var(--primary_color);
}
.author_published_date,.author_name,.total_view{
    font-size: 0.875rem;
}

#name{
    color: var(--primary_color);
}

/**
 *! ============ spinner ==========
 */
 .spinner_wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #23282daa;
 }
.spinner_wrapper .spiner{
    color: var(--primary_color);
}


/**
*! =============== blog page ==================
*?=============================================
*!=============================================
*/

.blog{
    background-color: var(--primary_color);
}

.blog_wrapper .card{
    padding: 20px;
    background-color: var(--pink);
    color: var(--white);
}


/**
*! ========== footer =======
 */
 footer{
    background-color: var(--secondary_color);
    color: var(--primary_color);
 }


